{% extends "rango/base.html" %}
{% load static %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <p>Here is the about page.</p>
    <p>This tutorial has been put together by <strong>{{ boldmessage }}</strong>.</p>

    <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
    <img src="{% static 'media/cat.jpg' %}" alt="Picture of a Cat." />

    <p>Visits: {{ visits }}</p>

    <p><a href="{% url 'rango:index' %}">Back to Home</a></p>
{% endblock %}


